.about {
    background-color: lightblue;
    height: 80vh;
    background-image: url("https://d29fhpw069ctt2.cloudfront.net/clipart/108101/preview/1312163377_preview_8827.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}