.about {
    background-color: hsl(195, 65%, 85%);
    height: 80vh;
    background-image: url("https://d29fhpw069ctt2.cloudfront.net/clipart/108101/preview/1312163377_preview_8827.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.typewriter-text {
    font-size: 3vh;
    line-height: 4.1vh;
    position: relative;
    font-family: "Source Code Pro", monospace;
    top: 12%;
    left: 54%;
    width: 36%;
}