.about {
    background-color: hsl(195, 65%, 85%);
    height: 80vh;
    background-image: url("https://d29fhpw069ctt2.cloudfront.net/clipart/108101/preview/1312163377_preview_8827.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid hsl(195, 65%, 85%);
}

.typewriter-text {
    font-size: 3vh;
    line-height: 4.1vh;
    word-spacing: -2px;
    position: relative;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    top: 9.6%;
    left: 53.5%;
    width: 36.6%;
}