.rate-me {
    font-size: 60px;
    margin: 0px;
    margin-top: 10px;
}

.contact {
    background-color: darkseagreen;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 1%, 65%, 0.808);
    border-radius: 10%;
}

.email, .name, .message, .submit {
    font-size: 30px;
    max-width: 80vw;
    padding: 5px;
    font-weight: bold;
}

.rating {
    width: 100%;
    display: table;
    display: flex;
    justify-content: center;
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    z-index: 1000;
}

.chat-window {
    position: fixed;
    bottom: 115px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #ddfcf7;
    border: 5px solid #c7c9c8;
    border-radius: 5%;
    z-index: 999;
    overflow-y: auto;
}

.user-message-bubble {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 70%;
    margin-bottom: 8px;
    align-self: flex-start;
}

.ai-message-bubble {
    background-color: #ccc;
    color: black;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 70%;
    margin-bottom: 8px;
    align-self: flex-end;
}

.message-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
}

.input-area {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    border: 5px solid #414d81;
    background-color: #414d81;
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 300px;
    height: 40px;
}

.input-area input {
    flex: 1;
    margin-right: 10px;
}

.input-area button {
    flex-shrink: 0;
}