.rate-me {
    font-size: 60px;
    margin: 0px;
    margin-top: 10px;
}

.contact {
    background-color: darkseagreen;
    height: fit-content;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 1%, 65%, 0.808);
    border-radius: 10%;
}

.email, .name, .message, .submit {
    font-size: 30px;
    max-width: 50vw;
    font-weight: bold;
}

.rating {
    border: 1px solid red;
    width: 100%;
    display: table;
    display: flex;
    justify-content: center;
}