
.quote {
    position:relative;
    width: 80%;
    margin: 10px auto 0px auto;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    color: white;
}

.gallery-instruction {
  position:relative;
  width: 80%;
  margin: 5px auto;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px 5px black;
  color: white;
}

.play-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.play-button {
  width: fit-content;
  margin: 0 0;
  color: black;
  font-weight: bold;
}

.play-button:hover {
  transform: scale(1.2);
  background: conic-gradient(
    from 0deg,
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7,
    #fd004c
  );
}

.play-prompt:hover .play-instruction {
  display: block;
}

.play-instruction {
  display: none;
  width: 60%;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  color: white;
  margin: 0 0;
}

.home {
    width: 100%; /* 100% of viewport width */
    height: 100%; /* 100% of viewport height */
    z-index: -1;
    background: linear-gradient(to bottom, red 0%, orange 8.333%, yellow 16.666%, green 25%, blue 33.333%, indigo 41.666%, violet 50%, indigo 58.333%, blue 66.666%, green 75%, yellow 83.333%, orange 91.666%, red 100%);
    background-size: 100% 300%; /* Larger size to cover all colors */
    animation: gradientAnimation 30s linear infinite;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 50% 300%;
    }
    100% {
      background-position: 50% 0%; /* Red */
    }
  }