.title {
    font-size: 6vw;
    font-weight: bold;
    color: white;
    display: table;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    text-align: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.title-image {
    align-self: left;
    position:fixed;

    width: 100vw;
    height: 50px;
}

.navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.selected-navbar-links, .navbar-links {
    color: gold;
    container-name: navbar-container;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 3vw;
    text-decoration: none;
    text-align: center;
}

.selected-navbar-links {
    color: white;
    font-size: 4vw;
    text-decoration: underline
}

.navbar-links:hover {
    font-size: 4vw;
}