.rebusGroup {
    justify-content: center;
    align-items: center;
}

.gridItem {
    width: 15vw;
    height: 15vw;
    max-width: 100%;
    object-fit: cover;
    border: 1px solid red;
}

.rebus-answer-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.rebus-answer-prompt {
    width: fit-content;
    text-shadow: 2px 2px 5px black;
    color: white;
}

.timer-text {
    width: fit-content;
    margin: 0px;
}

.score-text {
    width: fit-content;
    text-shadow: 2px 2px 5px black;
    color: white;
    margin: 0px;
}

.play-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.play-button {
    width: fit-content;
    margin: 0 0;
    color: black;
    font-weight: bold;
}

.play-button:hover:not([disabled]) {
    transform: scale(1.2);
    background: conic-gradient(
      from 0deg,
      #fd004c,
      #fe9000,
      #fff020,
      #3edf4b,
      #3363ff,
      #b102b7,
      #fd004c
    );
}

.play-prompt:hover .play-instruction {
    display: block;
}

.play-instruction {
    width: 60%;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    color: white;
    margin: 0 0;
}
