.secret {
    background-color: hsl(57, 73%, 90%);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge-grid {
    display: grid;
    width: 85%;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 16px;
}

.badge, .completed-badge, .locked-badge {
    width: 120px;
}

.badge {
filter: grayscale(100%);
}

.completed-badge {
}

.locked-badge {
    filter: brightness(0) invert(0);
}